
img.logo{display: inline-block; float: left; padding-top: 24px;}
h1{
	display: inline-block;
	float:left;
	color:#000;
	padding-left: 5px;
	letter-spacing: -3px;
	font-weight: 800;
}
.orange{
	color:#fff; 
	background: #000; 
	padding:0px 10px; 
	margin-left: 5px;
	border-radius: 10px;
}
.header{
	height: 160px;
	background: #fff;
}
header{padding-top: 38px;}